#header_space {
    height: 100px;
}

#menu {
    background-color: white;
    border-bottom: 1px solid #E0E0E0;
}
.navbar-brand img {
    height: 75px !important;
}
#menu_bt:focus {
    outline: none;
}


/* MOBILE MENU */
#menu_mobile, #menu_overlay, #menu_circ_int, #menu_circ_ext, #menu_content {
    display: none;
}
#menu_mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0;
}
#menu_overlay {
    position: relative;
    background: rgba(255,255,255,0.5);
    height: 100%;
    width: 100%;
}
#menu_circ_int {
    position: fixed;
    top: -50%;
    left: -110%;
    background: #DD3C88;
    border-radius: 50%;
    animation: anim_circ 1s .4s cubic-bezier(.51,.92,.24,1.15) forwards;
}
#menu_circ_ext {
    position: fixed;
    top: -50%;
    left: -95%;
    background: #EF5FA3;
    border-radius: 50%;
    animation: anim_circ 1s 0s cubic-bezier(.51,.92,.24,1.15) forwards;
}
#menu_content {
    position: fixed;
    top: -200px;
    left: 10%;
    opacity: 0;
    height: 60%;
    width: 80%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#menu_mobile_list a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 40px;
    line-height: 80px;
    color: #FFFFFF;
}
#menu_mobile_contact {
    position: absolute;
    bottom: 0px;
    
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
#menu_mobile_contact a {
    color: #fff;
}
#menu_mobile_contact a:hover {
    text-decoration: none;
}
#menu_mobile_contact h2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}
#menu_mobile_contact p {
    text-transform: none;
    font-weight: 500;
    color: #FFB3D7;
}
#menu_mobile_close {
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 60px;
    background: #DD3C88;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: none;
    transition: .4s;
}
#menu_mobile_close:hover {
    background: #EF5FA3;
    transform: scale(1.1) translateX(-50%);
}
#menu_mobile_close:focus {
    outline: none;
}


/* DESKTOP MENU */
/* PEDIDOS */
.btn-pedido {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    color: #EF5FA3;
    border: 2px solid #EF5FA3 !important;
    border-color: #56C7D9;
    border-radius: 50px;
    padding: 10px 20px;
    transition: .4s;
}
.btn-pedido:hover {
    text-decoration: none;
    color: #DD3C88;
    border: 2px solid #DD3C88 !important;
}


/* CARRINHO */
#cart {
    position: relative;
    background: #DD3C88 !important;
    border-radius: 30px 0px 0px 30px !important;
    padding: 10px 15px;
    border: none;
    outline: none;
}
#cart svg {
    z-index: 2;
}
#cart path {
    stroke: white;
}
#cart_qtd {
    display: block;
    position: absolute;
    top: 50%;
    left: 55%;
    background-color: #56C7D9;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}


/* CARRINHO BOX */
.carrinho_triangulo {
    position: absolute;
    right: 40px;
    top: -15px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #eee;
}
.carrinho_container {
    position: absolute;
    right: -30px;
    top: 100px;
    opacity: 0;
    visibility: hidden;
    width: 80vw;
    background-color: #eee;
    border-radius: 8px;
}
.carrinho_titulo {
    font-size: 24px;
    line-height: 29px;
    color: #EF5FA3;
}
#carrinho_conteudo {
    margin: 1rem 0;
    padding: 1.5rem 0 .5rem 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.carrinho_item {
    font-size: 14px;
    line-height: 18px;
    color: #888888;
}
.carrinho_peca_titulo {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #40AEBF;
}


/* OPÇÕES */
.menu_opcoes > ul > li> a {
    font-family: 'Montserrat', sans-serif;
    color: #EF5FA3 !important;
    font-weight: bold;
    font-size: 22px;
    padding: 15px 0;
    letter-spacing: 1px;
}
.menu_opcoes a.nav-link:hover {
    color: #DD3C88 !important;
}
.btn_minhas_reservas {
    background-color: red;
}


/* SUB PAGE */
.sub_page_titulo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    text-transform: uppercase;
    color: #454545;
}


@keyframes anim_circ {
    from {
        height: 0%;
        width: 0%;
    }
    to {
        height: 125%;
        width: 220%;
    }
}


/* MEDIA QUERY */
@media screen and (min-width: 992px) {
    .btn-pedido {
        color: #56C7D9;
        font-size: 16px;
        border: none !important;
        border-color: none;
        padding: 0;
        margin-right: 10px;
    }

    .btn-pedido:hover {
        color: #DD3C88;
        border: none !important;
    }

    .menu_opcoes > ul > li > a {
        font-weight: bold;
        font-size: 16px;
        padding: 0;
        margin: 0 1em;
    }

    #cart {
        padding: 10px;
        background: transparent !important;
        border-radius: 10px !important;
    }
    #cart path {
        stroke: #DD3C88;
    }

    .slick-slide, .slick-slide img {
        max-height: 600px;
    }
}

@media screen and (max-width: 992px) {
    .carrinho_container {
        right: 10px;
    } 
}

@media screen and (min-width: 768px) {
    .carrinho_container {
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand > img {
        height: 60px;
    }
}